.Feedback {
  position: absolute;
  top: 50px;
  right: 100px;
  width: 140px;
  height: 31px;
  background: #0094FF;
  border-radius: 3px;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 13px;
  cursor: pointer;
}
