.FeedbackForm {
  position: absolute;
  top: 100px;
  right: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 253px;
  padding: 12px;
  background: #FFFFFF;
  border-radius: 3px;

  > .form-title {
      font-size: 14px;
      color: #000000;
  }

  > .input-name {
      width: 225px;
      line-height: 30px;
      border-radius: 3px;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.2);
  }

  > .textarea {
      width: 225px;
      min-height: 84px;
      margin: 10px 0;
      resize: vertical;
      border-radius: 3px;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.2);
  }

    > .form-send {
      width: 114px;
      height: 31px;
      border: none;
      background: #0094FF;
      border-radius: 3px;
      outline: none;
      cursor: pointer;
      color: #ffffff;
    }

}
