.PlayerAudioFile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background: none;
  outline: none;
  list-style: none;
  cursor: pointer;
  color: #ffffff;

  > .audio-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
