.PlayerControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin: 40px auto 0 auto;

  > .button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
}
